<mat-toolbar class="myNav mat-elevation-z9">
  <span>
    <a class="navbar-brand nav-link navTexts">
      <img
        src="https://images2.imgbox.com/7d/c9/sSMsvGNG_o.png"
        alt="Soma Online" width="100" height="100" class="">
    </a>
  </span>

  <div class="spacer"></div>

  <a mat-button routerLink="home">Home</a>
  <a mat-button routerLink="books">Books</a>
  <a mat-button routerLink="users">User</a>
  <a mat-button routerLink="aboutus">About Us</a>
  <a mat-raised-button color="accent" routerLink="signup">Sign Up</a>
</mat-toolbar>
<!-- <nav class="navbar navbar-expand-lg text-white fixed-top">
    <div class="container">
      <a class="navbar-brand nav-link navTexts">
        <img
          src="https://images2.imgbox.com/7d/c9/sSMsvGNG_o.png"
          alt="Soma Online" width="100" height="100" class="">
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link navTexts" href="index.html" routerlink='' routerLinkActive='active'>Home</a>
          </li>
          <div class="dropdown show nav-item">
            <a class="btn dropdown-toggle navTexts" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">My Account</a>
              <a class="dropdown-item" href="#">My Books</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </div> -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink='/repositories' routerLinkActive='active'>Repos</a>
          </li> -->
        <!-- </ul>
      </div>
    </div>
  </nav>
  <br><br><br><br><br> -->
