<!-- Search area & background image -->
<div class="landing">
    <div class="d-flex justify-content-center">
        <div style="padding-top: 250px;">
            <form class="form-inline d-inline">
                <div class="row">
                    <div class="col-8">
                        <input class="form-control mr-sm-2" type="search" placeholder="Input text here..." aria-label="Search" required>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-danger my-2 my-sm-0" type="submit">SEARCH</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- New to soma online -->
<div class="newToSoma">
    <br><br>
    <div class="container">
        <div>
            <span>
                <h2 class="text-center">
                    <strong>New To <span class="text-danger">Soma </span><span class="text-primary">  Online</span></strong>
                </h2>
            </span>
        </div>
        <br>
        <div class="row">
            <div class="col-md text-center">
                <div>
                    <img src="https://g.christianbook.com/g/slideshow/3/350688/main/350688_1_ftc.jpg" alt="The Autobiography of Malcolm X" height="300px">
                </div>
                <br>
                <div class="">
                    <a href=""><button class="btn btn-large bg-primary text-light rounded">Borrow</button></a>
                </div>
            </div>
            <div class="col-md text-center">
                <div>
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1423763749l/6900.jpg" alt="Tuesdays With Morrie" height="300px">
                </div>
                <br>
                <div class="">
                    <a href=""><button class="btn btn-large bg-primary text-light rounded">Borrow</button></a>
                </div>
            </div>
            <div class="col-md text-center">
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/en/a/ab/AWrinkleInTimeTeaser.jpg" alt="Wrinckles In Time" height="300px">
                </div>
                <br>
                <div class="">
                    <a href=""><button class="btn btn-large bg-primary text-light rounded">Borrow</button></a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>

<!-- Getting Users & Books -->
<!-- <br><br>
<div class="container">
    <div class="row">
        <div class="col-md align-center">
            <app-users></app-users>
        </div>
        <div class="col-md align-center">
            <app-books></app-books>
        </div>
    </div>
</div>
<br><br> -->